apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shelfwatch
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/NFRohan/ShelfWatch
    targetRevision: HEAD
    path: charts/shelfwatch
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
